<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <!-- hiển thị data -->
        <p>message: {{ message }}</p>


        <!-- điều kiện trong vue -->
        <span v-if="seen">DoraCoder</span>
        <br>


        <!-- function trong vue & sự kiện (v-on)-->
        <button v-on:click="reverseMessage">Đảo message</button>
        <!-- function shorthands -->
        <button @click="toggleSeen">Đảo seen</button>
        <br>


        <!-- v-model: binding dữ liệu 2 chiều trong vue -->
        <input type="text" v-model="message">
        <br>
        <br>


        <!-- vòng lặp trong vue -->
        <p v-for="(e, index) in members" :key="index"><b>{{e.name}}</b> trong vai <i>{{e.nickname}}</i></p>


        <!-- computed trong vue -->
        <p>{{reversedMessage}}</p>


        <!-- binding trong vue -->
        <p class="text-primary">Một ví dụ về binding class (html)</p>
        <p :class="{ 'text-primary': true, 'text-right': true }">Một ví dụ về binding class (Vue ex.1)</p>
        <p v-bind:class="vBindingClasses">Một ví dụ về binding class (Vue ex.2)</p>
        <!-- binding kết hợp v-model -->
        <input type="checkbox" id="color" v-model="vBindingClasses['text-primary']">
        <label for="color">Tô xanh</label>

        <input type="checkbox" id="textAlign" v-model="vBindingClasses['text-right']">
        <label for="textAlign">Canh phải</label>

        <!-- một ví dụ khác về render theo điều kiện (v-if/else) -->
        <h1 v-if="message === '1'">Một</h1>
        <h1 v-else-if="message === '2'">Hai</h1>
        <h1 v-else>Có gì đó sai sai</h1>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.config.devtools = true;
        let vueInstance = new Vue({
            el: '#app',
            data: {
                message: 'Hello DoraCoder',
                seen: true,
                members: [
                    { name: 'supper man', nickname: 'sịp man' },
                    { name: 'wonder women', nickname: 'chị đại' },
                    { name: 'bat man', nickname: 'vì anh giàu' }
                ],
                vBindingClasses: {
                    'text-primary': true,
                    'text-right': true
                }
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split(' ').reverse().join(' ');
                },
                toggleSeen: function () {
                    this.seen = !this.seen;
                }
            },
            computed: {
                reversedMessage: function () {
                    return this.message.split(' ').reverse().join(' ');
                }
            }
        });
    </script>
</body>

</html>